{% extends sitebase.html %}
{% autoescape None %}
{%block content %}
<table width='100%'>
  <tr>
    <td width=180 valign='top'>
      1) Choose studies<br />
      2) Select QiiTa analyses<br />
      <b>3) Set QiiTa analysis options</b><br />
      4) Review meta-analysis<br />
      5) Running meta-analysis<br />
      6) Meta-analysis results<br />
    </td>
    <td>
      <p><input id="populate-btn"type="button" value="Copy Settings" tabindex="3" disabled></p>
    <form action="/meta/4" method="post" id="meta3_form">
      {% for datatype in analysisinfo.get_datatypes() %}
      <fieldset style="border: 1px;">
        <h1>{{datatype}}</h1>
          {% for function in analysisinfo.get_jobs(datatype) %}
            {% module Template('meta_opts/'+function+'.html', type=datatype) %}
          {% end %}
      </fieldset>
      {% end %}
      <p>
      <input id="back-btn"type="submit" value="Back" tabindex="3" disabled> 
      <input id="continue-btn"type="submit" value="Continue" tabindex="3">
      </p>
    </form>
    </td>
  </tr>
</table>
{% end %}